body {
  margin:0px;
  font-family: Arial,sans-serif;
} /* the body includes the menubar */

dt {
  margin-top: 15px;
}

dl.colums {
  width:100%;
  overflow:hidden;
}

dl.columns dd {
  float:left;
  width:33.3333334%; /* adjust the width; make sure the total of both is 100% */
  margin-top: 5px;
}

dl.columns dt {
  float:left;
  margin-left: 5%;
  width:28.3333334%; /* adjust the width; make sure the total of both is 100% */
  margin-top: 5px;
}

.anchor{
  display: block;
  height: 50px; /*same height as header*/
  margin-top: -50px; /*same height as header*/
  visibility: hidden;
}

.firstname:after {
    content: '\A';
    white-space: pre;
}

.bs-docs-header {
  margin-bottom: 0px!important; 
}

input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty {
    border: 1px solid #fd6400;
}

a {
 text-decoration: none; /* to supress underline ; blue and purple coloring is ok */
}

.btn-primary {
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    /* background-image: linear-gradient(to bottom,#fd6400 0,#563d7c 100%)!important; */
    /* background-image: linear-gradient(to bottom,#fd6400 0,#fd6400 100%); */
}

.btn-primary:hover {
    /*background-image: linear-gradient(to bottom,#fd6400 0,#563d7c 100%)!important;
    /*background: #cdbfe3;*/
    color: #white;
}

.navbar {
  position: fixed!important; 
  left: 0;right: 0; 
  border-bottom: 1px solid #6f5499!important;  
}

.menubar {
 background-color:rgb(150,108,67);
 overflow: hidden; /* add this to contain floated children */
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
}

.panel-default>.panel-heading {
    background-image: linear-gradient(to bottom,#fd6400 0,#563d7c 100%)!important;
}

.panel-title {
    color: white;
}

.menuitem  {
 /*float:left;*/
 padding:12px;
 float:right;
}

.menulink {
 font-size:15px;
 color:black; /* to supress blue and purple coloring */
}

.menulink:hover {
 text-shadow:1px 0px 18px lightgrey; /* on mouse over menu item / menu link */
}

.intro {
 padding-left:15px;
 padding-top:40px;
}

.screenshotimage {
 padding:4px;
 }
 
.middle-part {
 padding-left:15px;
 padding-right:250px;
}

.pagejump {
    text-decoration: none; /* to supress underline ; blue and purple coloring is ok */
    font-weight: 500;
    color: #563d7c;

}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:white;
    border-top: 1px solid #6f5499!important;
}

/* IE 6 */
* html .footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
